<app-header></app-header>

<nav class="navbar navbar-expand-sm bg-primary navbar-dark" *ngIf="authenticationService.isAuthenticated">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
          <a routerLink="users" class="nav-link" routerLinkActive="active">User List</a>
      </li>
      <li class="nav-item">
          <a routerLink="addUser" class="nav-link" routerLinkActive="active">Add User</a>
      </li>
      <li class="nav-item">
        <a routerLink="products" class="nav-link" routerLinkActive="active">Product List</a>
      </li>
      <li class="nav-item">
        <a routerLink="addProduct" class="nav-link" routerLinkActive="active">Add Product</a>
      </li>
      <li class="nav-item">
        <a routerLink="categories" class="nav-link" routerLinkActive="active">Category List</a>
      </li>
      <li class="nav-item">
        <a routerLink="addCategory" class="nav-link" routerLinkActive="active">Add Category</a>
      </li>
      
    </ul>

</nav>
  <div class="container">
    <br>
    <h2 style="text-align: center;">{{title}}</h2>
    <hr>  
    <div class="card">
      <div class="card-body">
    <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  
  <footer class="footer">
    <div class="container">
        <span>All Rights Reserved 2019 @JavaGuides</span>
    </div>
  </footer>
<app-footer></app-footer>